/packages
obj
/bin
/EtkWithExcelDnaTests.suo
/EtkWithExcelDnaTests.sln.docstates.suo
/TestsAndDemos/Tests/Etk.Tests.Data/bin
/TestsAndDemos/Tests/Etk.Tests.Data/obj
/TestsAndDemos/Tests/Etk.Tests.Templates.ExcelDna1/bin
/.vs/EtkTestsSolution/v14/.suo
/EtkWithExcelDnaTests.sln
