/packages
obj
/bin
/EtkWithExcelDnaTests.suo
/EtkWithExcelDnaTests.sln.docstates.suo
/TestsAndDemos/Tests/Etk.Tests.Data/bin
/TestsAndDemos/Tests/Etk.Tests.Data/obj
/TestsAndDemos/Tests/Etk.Tests.Templates.ExcelDna1/bin
/.vs/EtkTestsSolution/v14/.suo

/TestsAndDemos/Tests/Etk.Tests.Templates.ExcelDna1/~$Etk.Tests.Templates.ExcelDna1.xlsx
/EtkWithExcelDnaTests.v12.suo
/EtkWithExcelDnaDemos.v12.suo
/Etk.v12.suo
/.vs/EtkWithExcelDnaTests/v14/.suo
/TestsAndDemos/Etk.Tests.Templates.ExcelDna1/Etk.Tests.Templates.ExcelDna1.csproj.user
/TestsAndDemos/Etk.Tests.Templates.ExcelDna1/~$Etk.Tests.Templates.ExcelDna1.xlsx
/*.suo
/TestsAndDemos/Etk.Tests.Templates.ExcelDna1/bin
/TestsAndDemos/Etk.Tests.Templates.ExcelDna1/obj
/TestsAndDemos/Etk.Demo.Shops.UI.Common/bin
/TestsAndDemos/Etk.Demo.Shops.UI.Excel/bin
/TestsAndDemos/Etk.Demo.Shops.UI.Wpf/bin
/TestsAndDemos/Etk.Tests.Data/bin
/.vs/EtkWithExcelDnaDemos/v14/*.suo
/TestsAndDemos/Etk.Demo.Shops.UI.Excel/Etk.Demo.Shops.UI.Excel.csproj.user
/.vs/Etk/v14/.suo
/.vs/EtkWithExcelDnaTests/v15/*.suo
